:root{
    --primary-color:  #2B6FF3;
    --background: rgb(243, 245, 248);
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #E5E5E5 !important;
}


/* navigation */
.nav-bar{
    background-color: var(--white);
}

.logo{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2B6FF3;
}

.logo-img{
    margin-right: 5px;
}

.date{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.active{
    color:var(--primary-color)
}


.box{
    height: 150px;
    width: 100%;
}

.report{
    background: var(--white);
}

.bx-1{
    background: rgba(43, 111, 243, 0.05);
}

.bx-2{
    background: rgba(243, 153, 17, 0.05)
}

.bx-3{
    background: rgba(22, 180, 66, 0.05);
}

.bx-4{
    background: rgba(170, 42, 42, 0.05);
}

.active-con>h6{
    font-size: 18px;
}

.map>img{
    width: 100%;
    height: 100%;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
}


.circle>img{
    object-fit: cover;
    width: 100%;
}

.span{
    display: inline;
}

.symptoms{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 27px;
    margin: 10px 0px;
}

.symptoms span{
        display: inline-block;
        padding: 10px 30px 10px 0px;
}

